<h3 class="text-2xl mx-auto w-fit font-bold rounded-xl bg-primary-400 p-2.5 text-white mb-10 mt-10">الأدوية</h3>
<div class="flex justify-end">
  <button mat-raised-button color="primary">حذف تخصص</button>
  <button mat-raised-button color="primary" class="mx-5" (click)="openAddMedicine()">اضافة دواء</button>
</div>
<div class=" mt-10 px-10 w-full">
  <div class="mat-elevation-z8 w-full overflow-x-auto">
    <table mat-table [dataSource]="dataSource" class="rounded-lg">

      <ng-container matColumnDef="medicine">
        <th mat-header-cell *matHeaderCellDef>الدواء</th>
        <td mat-cell *matCellDef="let element"> {{element.nameInEng}} </td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> ملاحظات</th>
        <td mat-cell *matCellDef="let element">
          <!--            {{element.locationName}} -->
        </td>
      </ng-container>
      <ng-container matColumnDef="dose">
        <th mat-header-cell *matHeaderCellDef>الجرعة المطلوبة</th>
        <td mat-cell *matCellDef="let element">
          <!--            {{element.locationName}}-->
        </td>
      </ng-container>
      <ng-container matColumnDef="repeat">
        <th mat-header-cell *matHeaderCellDef>بكرر كل عدد</th>
        <td mat-cell *matCellDef="let element">
          <!--            {{element.locationName}}-->
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> إجراءات</th>
        <td mat-cell *matCellDef="let element">
          <div class="gap-3.5 flex">
            <button mat-raised-button color="primary">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              تعديل
              </span>
            </button>

            <button mat-raised-button color="warn" (click)="deleteMedicine(element.id)">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
              حذف
              </span>
            </button>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
</div>

<ng-template #addMedicineTemp>
  <div class="flex flex-col justify-center py-16 px-24 relative">
    <button mat-icon-button class="!absolute top-2 left-2" [autofocus]="false" [mat-dialog-close]="">
      <mat-icon>close</mat-icon>
    </button>
    <form [formGroup]="addMedicine" class="flex flex-col">
      <!--      <mat-form-field class="w-full" appearance="outline">-->
      <!--        <mat-label>إسم الدواء</mat-label>-->
      <!--        <input matInput formControlName="medicineId">-->
      <!--      </mat-form-field>-->
      <app-medicines-search [control]="addMedicine.get('medicineId')!"></app-medicines-search>
      <div class="flex gap-3">
        <mat-form-field class="basis-1/5" appearance="outline">
          <mat-label>عدد العلب</mat-label>
          <input matInput formControlName="numberBox" type="number">
        </mat-form-field>
        <mat-form-field class="basis-1/5" appearance="outline">
          <mat-label>عدد الشرائط</mat-label>
          <input matInput formControlName="numberPastille" type="number">
        </mat-form-field>
        <mat-form-field class="basis-1/5" appearance="outline">
          <mat-label>الـــتخصص</mat-label>
          <mat-select formControlName="specialization">
            <mat-option *ngFor="let specialization of specializations" [value]="specialization.id">
              {{specialization.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="basis-1/5" appearance="outline">
          <mat-label>يتم تكراره كل عدد اشهر</mat-label>
          <input matInput formControlName="repetition">
        </mat-form-field>
        <!--        <mat-form-field class="basis-1/5" appearance="outline">-->
        <!--          <mat-label>بداية من شهر</mat-label>-->
        <!--          <input matInput formControlName="startIn">-->
        <!--        </mat-form-field>-->
        <!--        <p-calendar placeholder="بداية من شهر" formControlName="startIn" view="month" dateFormat="mm/yy" [readonlyInput]="true"></p-calendar>-->
        <mat-form-field class="basis-1/5" appearance="outline">
          <mat-label>بداية من شهر</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="startIn">
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>ملاحظات</mat-label>
        <input matInput formControlName="notes">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" class=" mt-10 " [disabled]="addMedicine.invalid"
            (click)="submitAddMedicine()">
      إضافة منطقة
    </button>
  </div>
</ng-template>
