<h3 class="text-2xl border-r-4 border-r-primary-500 font-bold text-primary-500 mr-5 pr-2 mb-8 mt-10">{{name}}</h3>

<a routerLink="/patients/create/{{route.snapshot.paramMap.get('id')}}" *ngIf="!authService.isUserNormal()"  class="block mr-auto">
  <button mat-raised-button color="primary" class=" mt-10 mr-auto !block ml-10 "
  >
                <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              إضافة حالة
              </span>
  </button>
</a>

<div class=" mt-10 px-10">
  <div class="mat-elevation-z8 w-full ">
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="dataSource" class="rounded-lg">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> اسم الحالة</th>
          <td mat-cell *matCellDef="let element" class="whitespace-nowrap">
            <a [routerLink]="'/patients/'+element.id+'/details/'">
              {{element.name}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> رقم الهاتف</th>
          <td mat-cell *matCellDef="let element">
            <a class="underline whitespace-nowrap" *ngFor="let phone of element.mobileNumbers"
               [href]="'tel:'+phone">
              {{phone}}
            </a></td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> إجراءات</th>
          <td mat-cell *matCellDef="let element">
            <div class="gap-3.5 flex">
              <a [routerLink]="'/patients/'+element.id+'/edit'" *ngIf="!authService.isUserNormal()">

                <button mat-raised-button color="primary">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              تعديل
              </span>
                </button>
              </a>
              <button mat-raised-button color="warn" (click)="deletePatient(element)" *ngIf="authService.isUserSuperAdmin()">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
              حذف
              </span>
              </button>
              <button mat-raised-button (click)="printPatient(element.id)">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="print"></mat-icon>
              طباعة
              </span>
              </button>
              <button mat-raised-button color="warn" (click)="disablePatient(element)">
              <span class="flex gap-2.5 items-center whitespace-nowrap">
              <mat-icon aria-hidden="false" fontIcon="pause"></mat-icon>
تعطيل              </span>
              </button>
              <a [routerLink]="'/patients/'+element.id+'/details/'">
                <button mat-raised-button color="primary">
                  <mat-icon svgIcon="medicine" aria-hidden="false"></mat-icon>
                  الادوية
                </button>
              </a>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator [length]="totalElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
  </div>
</div>


