<div class="border border-solid p-5 m-5 relative">
  <h3 class="text-center  mx-auto border-b-2 p border-solid pb-3"> {{patient.name}} </h3>
  <ul class="list-none my-3">
    <li class="mt-3"><span>رقم الهاتف: </span>
      <span class="mr-3">
      <a class="mx-2 link" [href]="'tel:'+phone" *ngFor="let phone of patient.mobileNumbers">{{phone}}</a>
    </span></li>
    <li class="mt-3"><span>العنوان :</span>
      <span class="mr-3">{{patient.address}}</span>
    </li>
    <li class="mt-3">
      <span>المنطقة :</span>
      <span><a [routerLink]="'/regions/'+patient.locationsId">{{patient.locationsId}}</a></span>
    </li>
    <li class="mt-3" *ngIf="patient.volunteerName !== ''">
      <span>اسم المتابع :</span>
      <span class="mr-3">{{patient.volunteerName}} </span>
    </li>
    <li class="mt-3" *ngIf="patient.volunteerMobileNumber !== ''">
      <span>رقم هاتف المتابع :</span>
      <span class="mr-3">
        <a class=" link"
           [href]="'tel:{{patient.volunteerMobileNumber}}'">{{patient.volunteerMobileNumber}}</a> </span>
    </li>
    <ng-container *ngIf="expand">
      <li class="mt-3" *ngIf="patient.nameOfParent !== ''"><span>اسم العائل :</span>
        <span class="mr-3"> {{patient.nameOfParent}}</span>
      </li>
      <li class="mt-3" *ngIf="patient.nationalIDForParent !== ''"><span>الرقم القومي للعائل :</span>
        <span class="mr-3"> {{patient.nationalIDForParent}}</span>
      </li>
      <li class="mt-3"><span>عدد افراد الاسرة :</span>
        <span class="mr-3"> 3</span>
      </li>
      <li class="mt-3" *ngIf="patient.addressLink"><span>لينك العنوان  :</span>
        <span class="mr-3"> <a class=" link" [href]="patient.addressLink"
                               target="_blank">اضغط هنا</a></span>
      </li>
      <li class="mt-3" *ngIf="patient.dateOfBeginningOfDecision"><span>تاريخ بداية القرار  :</span>
        <span class="mr-3">{{patient.dateOfBeginningOfDecision}}</span>
      </li>
      <li class="mt-3 inline-flex" *ngIf="patient.discoveryDetailsWithImageLink"><span>تفاصيل الاستكشاف  :</span>
        <span class="mr-3 inline-block" [innerHtml]="patient.discoveryDetailsWithImageLink"> </span>
      </li>
      <li class="mt-3" *ngIf="patient.thereInsurance"><span>نوع تامين  :</span>
        <span class="mr-3">{{patient.thereInsurance}}</span>
      </li>
      <li class="mt-3" *ngIf="patient.dateOfHelp"><span>تاريخ بداية المساعدة  :</span>
        <span class="mr-3"> {{patient.dateOfHelp}}</span>
      </li>
      <li class="mt-3"><span>التخصص  :</span>
        <span class="mr-3 inline-flex gap-3"> <span
          *ngFor="let specialization of patient.specializations">{{specialization}}</span> </span>
      </li>
    </ng-container>
  </ul>
  <button mat-stroked-button class="!absolute mx-auto bottom-[-18px] w-fit left-0 right-0 !bg-white"
          (click)="expand = !expand">
    <span class="flex gap-2.5">
    اظهر المزيد
    <mat-icon fontIcon="expand_circle_down" [ngClass]="{'rotate-180':expand}"></mat-icon></span>
  </button>
</div>
