<mat-form-field class="w-full">
  <mat-label>إسم الدواء</mat-label>

  <input *ngIf="!_control.disabled"
         type="text"
         placeholder="إسم الدواء"
         [formControl]="_control"
         matInput
         [matAutocomplete]="auto">
  <input *ngIf="_control.disabled"
         type="text"
         placeholder="إسم الدواء"
         [formControl]="_control"
         matInput>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option">
      [{{option.id}}]-{{option.nameInEng}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
