<h3 class="text-2xl border-r-4 border-r-primary-500 font-bold text-primary-500 mr-5 pr-2 mb-8 mt-10">إدارة المناطق</h3>

<button mat-raised-button color="primary" class=" mt-10 mr-auto !block ml-10 "
        *ngIf="authService.isUserSuperAdmin()"
        (click)="openRegion()">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              إضافة منطقة
              </span>
</button>
<div class=" mt-10 px-10">
  <div class="mat-elevation-z8 w-full ">
    <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" class="rounded-lg  ">

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> اسم المنطقة</th>
        <td mat-cell *matCellDef="let element"> {{element.locationName}} </td>
      </ng-container>

      <!--      <ng-container matColumnDef="name">-->
      <!--        <th mat-header-cell *matHeaderCellDef> الموثق</th>-->
      <!--        <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
      <!--      </ng-container>-->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> إجراءات</th>
        <td mat-cell *matCellDef="let element">
          <div class="gap-3.5 flex">
            <button mat-raised-button color="primary">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              تعديل
              </span>
            </button>

            <button mat-raised-button color="warn" (click)="deleteRegion()">
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
              حذف
              </span>
            </button>
            <button mat-raised-button>
              <span class="flex gap-2.5">
              <mat-icon aria-hidden="false" fontIcon="print"></mat-icon>
              طباعة
              </span>
            </button>
            <a [routerLink]="'../'+element.id">
              <button mat-raised-button color="primary">
              <span class="flex gap-2.5 items-center whitespace-nowrap">
              <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
              حالات المنطقة
              </span>
              </button>
            </a>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <mat-paginator [length]="totalElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[ 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

<ng-template #addRegionTemp>
  <div class="flex flex-col justify-center py-16 px-24 relative">
    <button mat-icon-button mat-dialog-close class="!absolute top-2 left-2" [autofocus]="false">
      <mat-icon>close</mat-icon>
    </button>
    <mat-form-field class="example-full-width">
      <mat-label>إسم المنطقة</mat-label>
      <input matInput [(ngModel)]="regionName" >
    </mat-form-field>
    <button mat-raised-button color="primary" class=" mt-10 " [disabled]="regionName.length < 3" (click)="addRegion()">
      إضافة منطقة
    </button>
  </div>
</ng-template>
